@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 14px;
}

.btn {
  font-size: 14px;
}
